.Loader {
    display: flex;
    flex-direction: column;
    position: absolute;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 6px solid #333;
    border-color: #333 transparent #333 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
