.Home > main {
    display: flex;
    flex-direction: column;
}

pre {
    padding: 15px;
    border-radius: 4px !important;

}

.Home > main > main {
    padding: 15px;
    overflow: auto;
}

.Home p {
    max-width: 600px;
}
.Home .codePage b{
    color: rgb(186, 186, 186);
    padding: 10px 0 5px 10px;
    display: block;
    border-bottom: 1px solid #444;
}
.Home .codePage {
    background-color: rgb(43, 43, 43);
    border-radius: 4px !important;
}
