.NestedPage {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.NestedPage > main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow: auto;
}

.NestedPage + .NestedPage{
    border-left: 1px solid #ddd;
}