.Supporter > main {
    display: flex;
    flex-direction: column;
}

.Supporter > main > main {
    padding: 15px;
    overflow: auto;
}

.Supporter img {
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
}

.Supporter p {
    max-width: 600px;
}