.ListView {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.ListView li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.ListView li a {
    display: flex;
    height: 40px;
    flex-direction: row;
    flex: 1;
    padding: 10px 15px;
    color: #4281cb;
    text-decoration: none;
    align-items: center;
}

.ListView img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.ListView h4{
    font-size: 16px;
    padding-left: 10px;
}

.ListView li a:hover, .ListView li a.active {
    background-color: #f7f7f7;
}