.Sidebar {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    flex: none;
    height: 100%;
    background-color: #333;
    position: relative;
    border-right: 1px solid #222;
}



.Sidebar img{
    max-width: 100px;
}
.Sidebar .logo{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
}

.Sidebar ul {
    margin: 0;
    padding: 0;
}

.Sidebar ul li {
    list-style: none;
}

.Sidebar ul li a {
    display: flex;
    height: 40px;
    flex-direction: row;
    flex: 1;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

.Sidebar ul li a:hover {
    background-color: #222;
}

.Sidebar .space{
    flex: 1;
}

.Sidebar .makeWithLove{
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sidebar .makeWithLove span{
    padding: 5px;
}