.Page {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    padding: 15px;
    overflow: hidden;
}

.Page > main {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}