html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

h4 {
    font-size: 18px;
}
